<h1>{{data}}</h1>
<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>1.What is the minimum age to be appointed as the Chief Minister of a state?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
            <label class="options">25 Years <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
            <label class="options">23 Years <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
            <label class="options">30 Years<input type="radio" name="radio"> <span class="checkmark"></span> </label> 
            <label class="options">28 Years <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>

    <div class="d-flex align-items-center pt-3">
        <div id="prev"> <button class="btn btn-success">Previous</button> </div>
        <div class="ml-auto mr-sm-5"> <button class="btn btn-success">Next</button> </div>
    </div>
</div>
